@font-face {
  font-family: Century Gothic;
  src: url("../fonts/Century Gothic.ttf");
}
@font-face {
  font-family: Century Gothic Bold;
  src: url("../fonts/Century Gothic Bold.ttf");
}
body,
html {
  font-size: 16px;
  background-color: #f8f8f8;
  -webkit-text-size-adjust: none;
}
body {
  position: relative;
}
.container {
  max-width: 1170px !important;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
.logo img {
  max-width: 60%;
}
.close-modal {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}
.close-modal:hover {
  transition: all 0.3s ease-in-out;
  transform: rotate(90deg);
}
.overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 98;
}
.pick-city-modal {
  display: none;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 500px;
}
.pick-city-modal h2 {
  font: 30px "Century Gothic Bold", sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}
.city-list {
  display: flex;
  flex-wrap: wrap;
}
.city-list ul {
  list-style: none;
  padding: 0 20px;
}
.city-list ul li a {
  font: 14px "Century Gothic", sans-serif;
  color: #818181;
  padding: 5px;
  text-decoration: none;
}
.city-list ul li a:hover {
  background-color: #b7d602;
  color: #ffffff;
}
.header {
  background-color: #f8f8f8;
  padding: 10px 0 0;
  /* -moz-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2); */
  z-index: 9999;
}
.desctop-header-sticky {
  position: sticky;
  top: 0;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  z-index: 99;
  background-color: #f8f8f8;
  padding: 10px 0 10px;
}
.sticky-search {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  background-color: #f8f8f8;
  padding: 20px 0;
  transform: translateY(-100%);
  transition: all 0.5s ease;
}
.sticky-search-active {
  transform: translateY(0%);
}
/* .sticky {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 0;
  -moz-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  background-color: #f8f8f8;
} */
.fixed-search {
  display: none;
}
.pagination ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.pagination ul li a {
  font: 16px "Century Gothic", sans-serif;
  color: #464646;
  height: 20px;
  width: 20px;
  padding: 10px;
}
.pagination ul li a:hover {
  height: 20px;
  width: 20px;
  padding: 10px;
  color: #ffffff;
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}
.menu ul li a {
  /* font: 17px "Century Gothic", sans-serif; */
  color: #979797;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
.menu ul li a:hover {
  color: #b7d602;
  transition: all 0.3s ease-out;
}
.loc {
  display: none;
  margin-top: 10px;
  /* display: flex; */
  cursor: pointer;
}

.loc a,
.loc span {
  text-decoration: none;
  font: 14px "Century Gothic", sans-serif;
  color: #979797;
  letter-spacing: 0.06em;
}
.loc-icon img {
  height: 30px;
  margin-right: 10px;
}

.select {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: "Century Gothic", sans-serif;
  color: #979797;
  letter-spacing: 0.06em;
  height: 40px;
  margin-bottom: 30px;
}

.basket-select:focus {
  background-color: #b7d602;
  color: #ffffff;
}

/*.options {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    right: 0;*/
/*    left: 0;*/
/*    z-index: 999;*/
/*    margin: 0 0;*/
/*    padding: 0 0;*/
/*    list-style: none;*/
/*    border: 1px solid #ccc;*/
/*    background-color: white; }*/

/*.options li {*/
/*    padding: 0 6px;*/
/*    margin: 0 0;*/
/*    padding: 0 10px; }*/

/*.options li:hover {*/
/*    background-color: #B7D602;*/
/*    color: white; }*/

/*.loc select{*/
/*    margin-left: 10px;*/
/*    border: none;*/
/*    background: transparent;*/
/*    outline: none;*/
/*    appearance: none;*/
/*    -webkit-appearance: none;*/
/*    font: 14px 'Century Gothic',sans-serif;*/
/*    color: #979797;*/
/*    letter-spacing: 0.06em;*/
/*}*/
.search {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
}
.serch-page {
  min-height: 65vh;
}
.search input {
  display: block;
  margin: auto;
  width: 90%;
  height: 35px;
  background: #ffffff url("../images/search-ico.png") no-repeat 95% center;
  padding-left: 10px;
  padding-right: 2.5rem;
  border: none;
  outline: none;
}
@media (max-width: 576px) {
  .desctop-header-sticky {
    display: none;
  }
  .modal-map .modal-dialog .modal-header,
  .modal-footer {
    display: block !important;
  }
  .modal-map .modal-dialog .modal-header .adress-title {
    width: 100% !important;
  }
  .delivery-modal .close {
    top: 1rem !important;
  }
  .search-map .btn-map-disabled {
    padding: 10px 10px !important;
  }
  .search-map {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  .delivery-modal {
    width: 100% !important;
  }
  .mobile-version-search {
    min-height: 60vh;
  }
  .modal-map .modal-dialog {
    width: auto;
    max-width: inherit !important;
  }
  /* .mobile-search {
    position: fixed;
    padding: 1rem;
    z-index: 99;
    width: 100%;
    top: 0;
    transition: all 1s ease;
    transform: translateY(-150%);
    background-color: #f8f8f8;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  } */
}
/* .mobile-search-active {
  position: sticky;
  top: 0;
  z-index: 999;
  display: block !important;
} */
.user-icon {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.user-icon img {
  width: 28px;
}
.basket-icon img {
  width: 28px;
}
.user-icon a {
  color: #68c316;
}
.user-icon a:hover img,
.basket-icon a:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.basket-icon {
  position: relative;
}

.user-icon img,
.basket-icon img {
  display: block;
  margin: 0 auto 0;
}
.basket-icon .count {
  color: #ffffff;
  font: 10px "Century Gothic", sans-serif;
  position: absolute;
  top: -5px;
  right: 5px;
  padding: 2px 5px;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
}
.count-active {
  animation-duration: 1s;
  transition: all 1s ease;
  animation-name: count;
}
@keyframes count {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.slider {
  padding: 20px 0 0 0;
  background: #f8f8f8;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}
.w-100 {
  min-height: 420px;
}
.carousel-caption {
  display: flex;
  top: 0;
  bottom: auto;
  left: 26%;
}
.carousel-caption h5 {
  font: 64px/78px "Century Gothic Bold", sans-serif;
}
.gradient-text {
  color: #b7d602 !important;
  /*background: linear-gradient(to bottom, #b7d602 0%, #68C316 100%);
	background: -webkit-linear-gradient(to bottom, #b7d602 0%, #68C316 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  display: flex;
  justify-content: center;
}
.carousel-caption p {
  margin-left: 20px;
  font: 24px/28px "Century Gothic", sans-serif;
  color: #484848;
}
.carousel-caption b {
  font: 24px/28px "Century Gothic Bold", sans-serif;
  color: #484848;
}
.carousel-caption span {
  font: 24px/28px "Century Gothic", sans-serif;
}
.carousel-indicators .active {
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
}
.carousel-indicators li {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  color: #ffffff;
}
.green-caption {
  position: absolute;
  bottom: 0;
}
.modal{
  z-index: 10000;
}
.modal-drug {
  position: absolute;
  background: #ffffff;
  padding: 20px;
  border-radius: 0px 5px 5px 0px;
  top: 0;
  left: 95%;
  z-index: 999;
  min-height: 370px;
}
.modal-cont {
  display: flex;
}
.link-catalog {
  text-align: center;
}
.link-catalog a {
  color: #68c316 !important;
  display: block !important;
}
.link-catalog a:hover {
  text-decoration: underline;
}
.second-level-menu {
  padding: 0 20px !important;
}
.second-level-menu li {
  border: none !important;
  padding: 0px 20px !important;
}
.second-level-menu li a {
  font: 11px "Century Gothic", sans-serif !important;
  color: #818181 !important;
  height: 45px !important;
  width: 150px;
}
.second-level-menu li:hover {
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%) !important;
}
.second-level-menu li:hover a {
  color: #ffffff !important;
}
.second-level-menu li:hover + .catalog-menu ul li a:hover img {
  margin-top: -50px;
  transition: all 0.3s ease;
}
.catalog a {
  display: flex;
  font: 16px "Century Gothic", sans-serif;
  color: #979797;
  text-decoration: none;
  padding: 6px 10px;
  transition: all 0.5s ease;
}
.catalog a:hover {
  color: #b7d602;
  transition: all 0.3s ease-out;
}
.catalog-menu {
  background: #ffffff;
  padding: 10px 0;
  border-radius: 5px;
  z-index: 9999;
}
.catalog-menu .title {
  font: 24px "Century Gothic Bold", sans-serif;
  border-bottom: 1px solid #bbbbbb;
  padding: 0 10px 20px;
  text-align: center;
}
.catalog-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog-menu ul li {
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
  height: 60px;
  overflow: hidden;
}
.catalog-menu ul li:last-child {
  border: none;
}
.catalog ul li a {
  display: flex;
  font: 14px "Century Gothic", sans-serif;
  color: #818181;
  text-decoration: none;
  height: 60px;
  padding: 10px;
}
.catalog-menu ul li a {
  display: flex;
  font: 14px "Century Gothic", sans-serif;
  color: #818181;
  text-decoration: none;
  height: 60px;
  padding: 10px;
}
.catalog-menu ul li p {
  margin-top: 10px;
  margin-left: 10px;
}
.catalog-menu ul li:hover {
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  color: #ffffff;
}
.catalog-menu ul li:hover a {
  color: #ffffff;
}
.catalog-menu img {
  width: 30px;
}
.catalog-menu ul li a i {
  font-size: 23px;
  color: #b7d602;
  width: 30px;
  margin-right: 10px;
  text-align: center;
}
.catalog-menu ul li a:hover i {
  color: #ffffff;
}
.catalog-menu ul li a:hover img {
  margin-top: -50px;
  transition: all 0.3s ease;
}
.left-sticky {
  position: sticky;
  top: 5rem;
}
.main-title p,
.main-title h5 {
  font: 24px "Century Gothic Bold", sans-serif;
  text-align: center;
  margin: 50px 0;
}
/* .tablet-version-hide {
  position: sticky;
  top: 3rem;
} */

.main-content {
  padding: 20px 0 50px;
  background: #f8f8f8;
}
.product-img {
  text-align: center;
}
.adv-item a {
  text-decoration: none;
  display: flex;
  height: 140px;
  width: 100%;
  padding: 30px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 1px 12px #f2f2f2;
  margin-bottom: 30px;
}
.adv-item .text-block {
  margin-left: 20px;
}
.adv-item .text-block h6 {
  color: #000000;
  font: 16px "Century Gothic Bold", sans-serif;
}
.adv-item .text-block p {
  color: #6a6a6a;
  font: 14px "Century Gothic", sans-serif;
}
.title-border {
  margin: 50px auto;
  border: 2px solid #ebebeb;
  width: 300px;
  display: block;
}
.top-sale-item {
  background-color: #ffffff;
  box-shadow: 2px 1px 12px #f2f2f2;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
}
.top-sale-item a {
  text-decoration: none;
}
.top-sale-item .hit img {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 60px;
}
.top-sale-item .name p {
  font: 18px "Century Gothic", sans-serif;
  color: #000000;
  text-align: center;
  height: 44px;
  overflow: hidden;
  margin: 10px 0;
}
.top-sale-item img {
  display: block;
  margin: auto;
  height: 120px;
}
.top-sale-item .price p {
  font: 24px "Century Gothic Bold", sans-serif;
  text-align: center;
}
.top-sale-item .price p span {
  color: #818181 !important;
  font: 18px "Century Gothic", sans-serif;
}
.basket-button button {
  display: flex;
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  cursor: pointer;
  outline: none;
}
.basket-button button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, #b7d602 0%, #68c316 100%);
}
.basket-button button img {
  margin-right: 10px;
  height: auto;
  width: auto !important;
}
.new-item {
  background-color: #ffffff;
  box-shadow: 2px 1px 12px #f2f2f2;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  min-height: 175px;
}
.link-wrap a {
  text-decoration: none;
}
.new-item .image img {
  width: 160px;
  height: 10rem;
}
.new-item .text-block .name p {
  color: #000000;
  font: 18px "Century Gothic", sans-serif;
  height: 44px;
  overflow: hidden;
  margin-bottom: 10px;
}
.status p {
  font: 11px "Century Gothic", sans-serif;
  color: #6a6a6a;
  margin-bottom: 10px;
}
.status img {
  margin-right: 5px;
  height: 15px;
}
.new-item .text-block {
  margin-left: 20px;
  width: 100%;
}
.new-item .text-block .price p {
  font: 24px "Century Gothic Bold", sans-serif;
}
.new-item .text-block .price p span {
  color: #818181 !important;
  font: 18px "Century Gothic", sans-serif;
}

.news-basket-button button {
  display: flex;
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  outline: none;
}
.news-basket-button button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, #b7d602 0%, #68c316 100%);
}
.news-basket-button button img {
  height: 25px;
  margin-right: 10px;
}
.all-catalog button {
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 50px auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  outline: none;
}
.all-catalog button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, #b7d602 0%, #68c316 100%);
}
.map-block {
  background-color: #ffffff;
  box-shadow: 2px 1px 12px #f2f2f2;
  display: flex;
}
.map iframe {
  width: 100%;
  height: 450px;
  border: none;
}
.map-block .map {
  width: 60%;
  height: 100%;
}
.map-block .map iframe {
}
.map-block .drugstore-list {
  width: 40%;
  height: 450px;
  padding: 20px;
  overflow-y: scroll;
}
.drugstore-wrap {
  background: #ffffff;
}
.drugstore-item {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #f3f3f3;
}
.drugstore-list::-webkit-scrollbar {
  width: 5px;
}
.drugstore-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.drugstore-list::-webkit-scrollbar-thumb {
  background: #b7d602;
}
.drugstore-list::-webkit-scrollbar-thumb:hover {
  background: #b7d602;
}
.drugstore-item:last-child {
  border: none;
}
.drugstore-item p {
  font: 12px "Museo Sans Cyrl 500", sans-serif;
  color: #616161;
  margin-bottom: 10px;
}
.drugstore-item p b {
  font: 14px "Museo Sans Cyrl 500", sans-serif;
  color: #000000;
}
.drugstore-item p img {
  margin-right: 20px;
  width: 25px;
}
.status-open {
  font: 9px "Century Gothic", sans-serif;
  color: #ffffff;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  position: absolute;
  padding: 5px 10px;
  top: 0px;
  right: 0;
  border-radius: 5px;
}
.status-close {
  font: 9px "Century Gothic", sans-serif;
  color: #ffffff;
  background: linear-gradient(to bottom, #d62c2c 0%, #dd2a1b 100%);
  position: absolute;
  padding: 5px 10px;
  top: 10px;
  right: 0;
  border-radius: 5px;
}
.pre-footer {
  padding: 20px 0;
  background: #f8f8f8;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}
/*footer*/
.footer {
  background-color: #555555;
  padding: 20px 0;
}
.footer-text p {
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
}
.footer-text p a {
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
}
.footer-text p img {
  padding: 0 5px;
  height: 20px;
}
.footer-text p img:hover {
  filter: invert(1);
}
.footer-text a:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.1);
}

/*end footer*/
/*catalog*/
.flex-one {
  display: flex;
  justify-content: space-between;
}
.catalog-title h6 {
  font: 18px "Century Gothic Bold", sans-serif;
  margin: 50px 0;
}
.month-sale-item a {
  text-decoration: none;
}
.month-sale-item {
  background-color: #ffffff;
  box-shadow: 2px 1px 12px #f2f2f2;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
}
.month-sale-item .bot {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.month-sale-item .top {
  display: flex;
}
.month-sale-item .image img {
  height: 70px;
  width: 90px;
}
.month-sale-item .text-block .name p {
  font: 12px "Century Gothic ", sans-serif;
  margin-bottom: 10px;
  color: #000000;
}
.month-sale-item .text-block {
  margin-left: 10px;
}

.month-sale-item .price {
  color: #818181;
}
.month-sale-item .price p {
  font: 24px "Century Gothic Bold", sans-serif;
  text-align: center;
  margin: 0 5px;
  color: #818181;
}
.month-sale-item .price {
  display: flex;
}
.month-sale-item .price p span {
  color: #818181 !important;
  font: 18px "Century Gothic", sans-serif;
}
.month-sale-item .sale p {
  margin-top: 20px;
  background-color: #df2a2a;
  font: 18px "Century Gothic", sans-serif;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  min-height: 35px;
  width: 55px;
}
.month-sale-item .sale .bonus {
  margin-top: 10px;
  color: #68c316;
  font: 18px "Century Gothic", sans-serif;
}
.sale-basket-button button {
  margin-top: 20px;
  display: flex;
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  right: 0px;
  outline: none;
}
.sale-basket-button button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, #b7d602 0%, #68c316 100%);
}
.sale-basket-button button img {
  height: auto;
  margin-right: 10px;
}
.white-bg {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}
.white-bg .title h6 {
  font: 18px "Century Gothic Bold", sans-serif;
}
.row-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row-list ul {
  list-style-type: none;
  padding: 0 10px;
  width: 50%;
  border-right: 1px solid #e5e5e5;
}
.collapse {
  width: 100%;
}
.row-list ul:last-child {
  border: none;
}
.row-list ul li {
  display: block;
  padding: 5px;
}
.row-list ul li a {
  font: 12px "Century Gothic", sans-serif;
  color: #000000;
}
.row-list .back-link a {
  font: 12px "Century Gothic", sans-serif;
  color: #000000;
}
.row-list .back-link a span {
  margin-right: 10px;
}
.show-more {
  font: 12px "Century Gothic", sans-serif;
  text-decoration: underline;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.select select {
  background: url("../images/arrow.png") 95% center no-repeat;
  border: none;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  color: #242424;
  font: 14px "Century Gothic", sans-serif;
}
/*checkbox*/
.checkbox-flex {
  display: flex;
  flex-wrap: wrap;
}
.filter-checkbox label {
  margin-top: 5px;
}
.filter-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font: 12px "Century Gothic", sans-serif;
  color: #242424;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.filter-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #e9e9e9;
  border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.filter-checkbox input:checked ~ .checkmark {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  box-shadow: 0px 3px 6px #e9e9e9;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*checkbox*/
.filter {
  margin: 50px 0;
}
.filter-form label,
.filter-checkbox label {
  font: 12px "Century Gothic", sans-serif;
  color: #242424;
}
.filter-form input {
  box-shadow: 2px 1px 12px #f2f2f2;
  width: 30%;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0 5px;
  height: 30px;
  padding-left: 5px;
}
.catalog-item {
  background-color: #ffffff;
  box-shadow: 2px 1px 12px #f2f2f2;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  min-height: 105px;
}
.catalog-item .image {
  width: 50%;
}
.catalog-item .image img {
  width: 110px;
  max-height: 90px;
}
.catalog-item .text-block .name p {
  color: #000000;
  font: 14px "Century Gothic", sans-serif;
  height: 36px;
  overflow: hidden;
  margin-bottom: 10px;
  width: 81%;
}
.catalog-item .text-block {
  margin-left: 20px;
  width: 100%;
  position: relative;
}
.catalog-item .text-block .price p {
  font: 24px "Century Gothic Bold", sans-serif;
}
.catalog-item .text-block .price p span {
  color: #818181 !important;
  font: 18px "Century Gothic", sans-serif;
}
.catalog-item .text-block .red-label {
  font: 9px "Century Gothic", sans-serif;
  color: #ffffff;
  padding: 5px;
  position: absolute;
  border-radius: 3px 0 0 3px;
  top: 0;
  right: -20px;
  background-color: #df2a2a;
}
.catalog-item .text-block .delete-icon {
  font-size: 20px;
  color: #df2a2a;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.catalog-item .text-block .delete-icon:hover {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.favorite {
  font-size: 22px;
  color: silver;
  transition: all 0.5s ease;
}
.favorite:hover {
  transform: scale(1.2);
}

.favorites {
  font-size: 22px;
  color: silver;
  transition: all 0.5s ease;
}
.favorites:hover {
  transform: scale(1.2);
}
.favorites-active {
  color: red;
}
.catalog-basket-button button {
  display: flex;
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  outline: none;
}
.catalog-basket-button button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, #b7d602 0%, #68c316 100%);
}
.catalog-basket-button button img {
  height: auto;
  margin-right: 10px;
}
.load-more button {
  display: block;
  margin: 20px auto;
  font: 14px "Century Gothic", sans-serif;
  color: #ffffff;
  background: #818181;
  border-radius: 3px;
  border: 1px solid #818181;
  text-align: center;
  padding: 15px 30px;
  cursor: pointer;
  outline: none;
}
.load-more button:hover {
  transition: all 0.3s ease-out;
  color: #818181;
  background-color: transparent;
}
.white-wrap {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}
.white-wrap p {
  font: 14px "Century Gothic", sans-serif;
  color: #818181;
  margin: auto;
  text-align: center;
  width: 230px;
}
.white-wrap img {
  display: block;
  margin: 10px auto;
}
.catalog-bonus-list ul {
  list-style: none;
  padding: 0;
}
.catalog-bonus-list li {
  padding-left: 1.3em;
  font: 12px "Century Gothic", sans-serif;
  color: #898989;
}
.catalog-bonus-list li:before {
  content: "\25CF";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: #b7d602;
  font-size: 25px;
}
/*end catalog*/
/*tabs*/
.tab-item {
  display: none;
}
.tab-item-active {
  display: block;
}
.tab-item2 {
  display: none;
}
.tab-item2-active {
  display: block;
}
.tab-line {
  padding: 30px 0;
  background: #f8f8f8;
}
.hide {
  display: none;
}

.show {
  display: block;
}
.nav-tabs {
  border: none;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  transition: all 0.3s ease-out;
  border: none;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 18px "Century Gothic", sans-serif;
}
.nav-tabs .nav-link.active {
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  font: 18px "Century Gothic", sans-serif;
}
.nav-tabs .nav-link {
  color: #4f4f4f;
  font: 18px "Century Gothic", sans-serif;
  border: none;
}
.white-section {
  background-color: #ffffff;
  padding: 50px 0;
  min-height: 600px;
}
/*personal data*/
.personal-input {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 30px;
}
.personal-input i {
  font-size: 16px;
}
.personal-input .icon img {
  width: 26px;
}
.personal-input input {
  margin-left: 20px;
  border: none;
  color: #4f4f4f;
  font: 14px "Century Gothic", sans-serif;
  outline: none;
  width: 100%;
  background: transparent;
}
.personal-input input::placeholder {
  color: #4f4f4f;
  font: 14px "Century Gothic", sans-serif;
  opacity: 0.8;
}
.personal-input button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.personal-input button img {
  height: 20px;
}
.add-address {
  margin-bottom: 30px;
}
.add-address a {
  font: 16px "Century Gothic", sans-serif;
  color: #b7d602;
}
.remove_button {
  font: 24px "Century Gothic", sans-serif;
  color: #990000;
}
.remove_button:hover {
  text-decoration: none;
  color: #ff0000;
}
.save-btn button {
  margin: 30px 0;
  font: 14px "Century Gothic", sans-serif;
  color: #ffffff;
  background: linear-gradient(#818181, #b3b3b3);
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
}
.save-btn button:hover {
  background: linear-gradient(#b3b3b3, #818181);
  transition: all 0.3s ease;
}
/*end personal data*/
.purchased-item .title h5 {
  font: 18px "Century Gothic", sans-serif;
  color: #000000;
}
.purchased-item .text {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.purchased-item .text .left p {
  font: 16px "Century Gothic", sans-serif;
  color: #858585;
}
.purchased-item .text .right p {
  font: 16px "Century Gothic", sans-serif;
  color: #464646;
  right: 0;
  position: absolute;
  top: 0;
}
.red-text {
  color: #df2a2a !important;
}
.space-top-sm {
  margin-top: 50px;
}
.bonus-title h5 {
  font: 24px "Century Gothic", sans-serif;
  color: #000000;
}
.bonus-text span {
  font: 64px "Century Gothic Bold", sans-serif;
}
.bonus-text {
  color: #000000;
  font: 14px "Century Gothic", sans-serif;
}
.bonus-btn button {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  font: 14px "Century Gothic", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 130px;
  margin-top: 30px;
  margin-right: 30px;
}
.bonus-btn button:hover {
  background: linear-gradient(180deg, #68c316 100%, #b7d602 0%);
  transition: all 0.3s ease;
}
.gift-item {
  box-shadow: 2px 1px 12px #f2f2f2;
  background: #ffffff;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}
.gift-item img {
  margin: 0 auto 20px;
  display: block;
  max-height: 180px;
}
.gift-item p {
  font: 14px "Century Gothic", sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  height: 34px;
  overflow: hidden;
}
.gift-item .free p {
  font: 18px "Century Gothic Bold", sans-serif;
  text-align: center;
}
.gift-item .checked img {
  position: absolute;
  right: 20px;
  bottom: 0;
  height: 25px;
  width: 25px;
}
.gift-item:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.1);
}
/*end tabs*/
.bg-white {
  padding: 50px;
  background-color: #ffffff;
}
.popup-title h6 {
  font: 18px "Century Gothic", sans-serif;
  color: #4f4f4f;
  text-align: center;
  margin: 20px 0 50px;
}
.product-title h5 {
  margin: 50px 0;
  font: 18px "Century Gothic Bold", sans-serif;
}
.product-description ul {
  list-style-type: none;
}
.product-description ul li {
  display: flex;
  padding: 10px 0;
}
.product-description p {
  font: 18px "Century Gothic", sans-serif;
  color: #000000;
  width: 140px;
  margin-right: 20px;
}
.product-description span {
  font: 14px "Century Gothic", sans-serif;
  color: #5f5f5f;
}
.button-wrap {
  display: flex;
}
.button-wrap button {
  padding: 10px 30px;
  margin: 20px;
  height: 40px;
}
.instruction p {
  margin: 25px 0;
  color: #a4ca0a;
  font: 14px "Century Gothic", sans-serif;
  cursor: pointer;
}
.instruction-collapse {
  margin: 25px 0;
}
.instruction img {
  margin-right: 10px;
}
.rotate {
  transition: all 0.3s ease-out;
  transform: rotate(180deg);
}
.collapse-wrap {
  position: relative;
}
.collapse-text p {
  color: #5f5f5f;
  font: 12px/16px "Century Gothic", sans-serif;
  margin: 10px 0;
}
.collapse-text h6 {
  font: 16px/16px "Century Gothic Bold", sans-serif;
  margin: 30px 0;
}
.collapse-text ul {
  list-style-type: none;
  margin-left: 1.3em;
  padding-left: 0;
}
.collapse-text ul li {
  color: #5f5f5f;
  font: 12px/16px "Century Gothic", sans-serif;
  margin: 10px 0;
}
.collapse-text li:before {
  content: "\2014";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}
.review-item {
  display: flex;
  margin-bottom: 40px;
}
.review-item .info {
  border-right: 2px solid #86ca0f;
  padding-right: 20px;
}
.review-item .text {
  padding-left: 20px;
  text-align: center;
}
.review-item .info p {
  font: 13px "Century Gothic", sans-serif;
  color: #414141;
  text-align: center;
}
.review-item .info b {
  font: 14px "Century Gothic Bold", sans-serif;
  color: #414141;
  text-align: center;
}
.review-item .info span {
  font: 13px "Century Gothic", sans-serif;
  color: #dd2a1b;
  text-align: center;
}
.review-item .text p {
  font: 12px "Century Gothic", sans-serif;
  color: #6a6a6a;
  text-align: center;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}
.review-item .text span {
  font: 12px "Century Gothic", sans-serif;
  color: #000000;
  text-align: center;
  cursor: pointer;
}
.review label {
  font: 14px "Century Gothic", sans-serif;
  width: 100%;
}
.review textarea {
  border: 1px solid #dfdfdf;
  color: #4f4f4f;
  font: 14px "Century Gothic", sans-serif;
  outline: none;
  width: 100%;
  background: transparent;
  height: 150px;
  padding: 10px;
}
.review label img {
  margin-right: 10px;
  height: 25px;
}
.review-btn button {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 30px;
  float: right;
  border: none;
  cursor: pointer;
  outline: none;
}
.review-btn button:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(180deg, #68c316 100%, #b7d602 0%);
}
.register-title h5 {
  font: 24px "Century Gothic Bold", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
.wrapper-pass-reset button {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  outline: none;
}
.wrapper-pass-reset button:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(180deg, #68c316 100%, #b7d602 0%);
}
.wrapper-pass-reset {
  display: flex;
  justify-content: center;
}
.pass-reset-modal input[type="email"]:focus,
.pass-reset-modal .modal-footer button:focus,
.wrapper-pass-reset button:focus {
  outline: none !important;
  box-shadow: none;
}
.pass-reset-modal {
  font: 18px "Century Gothic", sans-serif;
  z-index: 9999;
}
.pass-reset-modal input[type="email"] {
  text-align: center;
  border: 1px solid #b7d602;
}
.pass-reset-modal .modal-footer {
  display: flex;
  justify-content: center;
}
.pass-reset-modal .modal-footer button {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  outline: none;
}
.pass-reset-modal .modal-footer button:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(180deg, #68c316 100%, #b7d602 0%);
}

.register-by p {
  font: 14px "Century Gothic", sans-serif;
  display: block;
  padding-bottom: 20px;
}
.register-by p img {
  padding: 0 5px;
}
.register-bonus {
  margin-top: 30px;
}
.register-bonus p {
  font: 18px "Century Gothic", sans-serif;
  text-align: center;
}
.register-bonus p span {
  font: 36px "Century Gothic Bold", sans-serif;
}
.drugstore-wrap {
  padding: 10px;
  box-shadow: 2px 1px 12px #f2f2f2;
  margin: 50px 0 30px;
  border-radius: 5px;
}
.count-input input {
  width: 40px;
  height: 20px;
  text-align: center;
  border: 1px solid #b7d602;
}
.count-input input::-webkit-outer-spin-button,
.count-input input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.count-input input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.count-input span {
  color: #b7d602;
  font-size: 20px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.basket-title h5 {
  font: 18px "Century Gothic Bold", sans-serif;
}
.basket-title {
  display: flex;
}
.basket-title .count {
  margin-left: 20px;
  color: #ffffff;
  font: 10px "Century Gothic", sans-serif;
  padding: 3px 7px;
  border-radius: 50%;
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  height: 20px;
  width: 20px;
}
.basket-item {
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  min-height: 135px;
  border-bottom: 1px solid #dfdfdf;
}
.basket-item .image {
  width: 130px;
}
.basket-item .image img {
  width: 90px;
  height: 90px;
}
.basket-item .text-block .name p {
  color: #000000;
  font: 14px "Century Gothic", sans-serif;
  height: 36px;
  overflow: hidden;
  margin-bottom: 10px;
  width: 81%;
}
.basket-item .text-block {
  margin-left: 20px;
  width: 100%;
  position: relative;
}
.basket-item .text-block .price p {
  font: 18px "Century Gothic Bold", sans-serif;
  position: absolute;
  right: 0;
  bottom: -15px;
}
.basket-item .text-block .status p {
  font: 9px "Century Gothic", sans-serif;
  margin: 5px 0;
}
.basket-item .text-block .delete-icon {
  font-size: 20px;
  color: #df2a2a;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.basket-item .text-block .delete-icon:hover {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.basket-item .text-block .name {
  width: 90%;
}
.basket-item .text-block a {
  color: #000;
  font-size: 13px;
}
.basket-title h6 {
  font: 14px "Century Gothic", sans-serif;
  color: #000000;
}
.basket-select select {
  color: #858585;
  font: 14px "Century Gothic", sans-serif;
  height: 40px;
  width: 100%;
  appearance: none;
  background: url("../images/collapse-arrow.png") no-repeat 95% center;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  box-shadow: 2px 1px 12px #f2f2f2;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 30px;
}
.green-btn {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%) !important;
  font: 14px "Century Gothic", sans-serif;
  color: #ffffff !important;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.green-btn:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, #68c316 100%, #b7d602 0%) !important;
}
.delivery-cost {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 30px;
  min-height: 43px;
}
.delivery-cost a {
  color: #212529;
  font-family: 14px "Century Gothic", sans-serif;
}
.delivery-cost input {
  width: 100%;
  float: right;
  margin-left: 10px;
}
.delivery-cost p {
  font: 14px "Century Gothic", sans-serif;
  color: #000000;
}
.delivery-cost .price {
  /* position: absolute; */
  right: 15px;
}
.delivery-cost .price p {
  font: 18px "Century Gothic Bold", sans-serif;
}
.pay-btn button {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  font: 14px "Century Gothic", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.pay-btn button:hover {
  background: linear-gradient(180deg, #68c316 100%, #b7d602 0%);
  transition: all 0.3s ease;
}
.sdacha p {
  font: 14px "Century Gothic", sans-serif;
  color: #000000;
  margin-bottom: 10px;
}
.sdacha input {
  width: 80%;
  margin-right: 10px;
  padding-left: 1rem;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
}
.bonus-cost {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font: 14px "Century Gothic", sans-serif;
  cursor: pointer;
}
.opacity-bonus {
  opacity: 0.5;
}
.bonus-cost .price p {
  color: #b7d602;
  font: 18px "Century Gothic Bold", sans-serif;
}
.total-cost {
  display: flex;
  padding-bottom: 10px;
}
.total-cost p {
  font: 14px "Century Gothic", sans-serif;
  color: #000000;
}
.total-cost .price {
  position: absolute;
  right: 15px;
}
.total-cost .price p {
  font: 18px "Century Gothic Bold", sans-serif;
}
/*mobile-version*/
.head-h {
  height: 121px;
}
.mobile-header {
  display: block !important;
  background-color: #f8f8f8;
  padding: 5px 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
}
.hidden-head {
  display: none;
}
.mobile-version {
  display: none;
}

.mobile-select select {
  margin-left: 30px;
  background: url(../images/loc-icon.png) center 0 no-repeat;
  width: 40px;
  height: 25px;
  padding-top: 30px !important;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  font: 14px "Century Gothic", sans-serif;
  color: #000000;
}
.mobile-flex {
  display: flex;
}
.mobile-phone img {
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 999;
}

.square-flex {
  display: flex;
  flex-wrap: wrap;
}
.owl-wrapper-outer {
  -webkit-transform-style: preserve-3d;
}
.owl-stage-outer {
  -webkit-transform-style: preserve-3d;
}
.owl-carousel {
  display: block;
  margin-bottom: 20px;
}
.owl-carousel .item a {
  text-decoration: none;
  color: #ffffff;
}
.owl-carousel .item .green {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%) !important;
  border-radius: 3px;
  font: 12px "Century Gothic", sans-serif;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 1px 12px #f2f2f2;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}
.owl-carousel .item .grey {
  background: #818181;
  border-radius: 3px;
  font: 12px "Century Gothic", sans-serif;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  height: 40px;
  box-shadow: 2px 1px 12px #f2f2f2;
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  top: 18%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f8f8f8 url("../images/owl-right.png") no-repeat center center;
  outline: none;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 0;
  top: 18%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f8f8f8 url("../images/owl-left.png") no-repeat center center;
  outline: none;
}
.owl-carousel .owl-nav span {
  display: none;
}
.hc-nav-trigger {
  top: 3rem !important;
}
.hc-nav-trigger-fixed {
  position: fixed !important;
  top: 1rem !important;
  z-index: 9999;
}
.hc-offcanvas-nav .nav-item {
  display: flex !important;
}
#main-nav {
  display: none !important;
}
.menu-icon {
  margin-right: 10px;
  width: 23px;
}
.hc-offcanvas-nav .nav-item i {
  width: 23px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 22px;
}
.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  background: #818181 !important;
}
.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #4caf50 !important;
  border-top: 1px solid #4caf50 !important;
  border-bottom: 1px solid #ffffff !important;
}
.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #4caf50 !important;
}
.hc-offcanvas-nav a,
.hc-offcanvas-nav .nav-item {
  border-bottom: 1px solid #ffffff !important;
}
.opacity-pass {
  opacity: 0.3;
  transition: 0.2s ease;
}
/*end mobile-version*/
.tablet-version {
  display: none;
}
.owl-carousel .owl-nav.disabled {
  display: block;
}
.owl1 .owl-nav button.owl-prev {
  display: block;
  top: 30%;
  left: -5%;
  height: 53px;
  width: 28px;
  background: url(../images/left.png) no-repeat center center;
}
.owl1 .owl-nav button.owl-next {
  display: block;
  top: 30%;
  right: -5%;
  height: 53px;
  width: 28px;
  background: url(../images/right.png) no-repeat center center;
}
@media (max-width: 320px) {
  .button-wrap button {
    padding: 5px 15px;
    margin: 20px;
    width: auto;
  }
  .owl-carousel .item .green {
    width: 75%;
  }
}
@media (max-width: 576px) {
  .modal-h-content{
    width: 100% !important;
  }
  .purchased-item .text{
    display: block !important;
  }
  .green-caption img {
    /* width: 90% !important;
    margin: 0 auto; */
  }
  .catalog-item .image {
    width: 70%;
  }
  .carousel-caption p {
    font: 14px/18px "Century Gothic", sans-serif;
  }
  .carousel-caption b {
    font: 16px/20px "Century Gothic Bold", sans-serif;
  }
  .loc-icon img {
    margin-top: -10px;
  }
  /* header {
    padding: 10px 0;
  } */
  /* .loc {
    margin-left: 40px;
  } */
  .hc-nav-trigger span {
    width: 22px !important;
  }
  .hc-nav-trigger span::before {
    top: -7px !important;
  }
  .hc-nav-trigger span::after {
    bottom: -7px !important;
  }
  .pick-city-modal {
    width: 100%;
  }
  .head-search {
    background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  }
  .head-search input {
    display: block;
    margin: auto;
    width: 90%;
    height: 30px;
    background: #ffffff url("../images/search-ico.png") no-repeat 95% center;
    padding-left: 10px;
    border: none;
    outline: none;
  }
  .head-basket-icon img {
    height: 25px;
  }
  .count-input {
    margin-top: 20px;
  }
  .mobile-select select {
    background-size: 25px 30px;
  }
  .logo img {
    max-width: 60% !important;
  }
  .map iframe {
    height: 150px;
  }
  .basket-icon .count {
    padding: 3.5px 8px;
  }
  .sale-basket-button button {
    margin-top: 10px;
    position: relative;
    right: 0;
  }
  .owl1 .owl-nav button.owl-prev {
    top: -15%;
    /* left: -5%;
    top: -10%; */
    background: url(../images/owl-left.png) no-repeat center center;
  }
  .owl1 .owl-nav button.owl-next {
    top: -15%;
    /* right: -5%;
    top: -10%; */
    background: url(../images/owl-right.png) no-repeat center center;
  }
  .owl-anal .owl-nav button.owl-next {
    top: 30% !important;
  }
  .owl-anal .owl-nav button.owl-prev {
    top: 30% !important;
  }
  .owl2 .owl-nav button.owl-prev {
    left: -5%;
    background: url(../images/owl-left.png) no-repeat center center;
  }
  .owl2 .owl-nav button.owl-next {
    right: -5%;
    background: url(../images/owl-right.png) no-repeat center center;
  }
  .owl-main .owl-nav button.owl-prev {
    display: none;
    top: 35%;
    left: -5%;
    height: 20px;
    width: 20px;
    background: url(../images/left.png) no-repeat center center;
    background-size: contain;
  }
  .owl-main .owl-nav button.owl-next {
    display: none;
    top: 35%;
    right: -5%;
    height: 20px;
    width: 20px;
    background: url(../images/right.png) no-repeat center center;
    background-size: contain;
  }
  .owl-carousel .item .green {
    min-height: 3.5rem;
    width: 85% !important;
  }
  .styledSelect {
    display: none;
  }

  .news-basket-button button,
  .catalog-basket-button button {
    position: relative;
  }
  .logo {
    text-align: center;
  }

  .count-input input {
    height: 30px;
    font-size: 13px;
  }
  .mobile-flex,
  .flex-one {
    display: block;
  }
  .status p {
    margin: 0;
  }
  .status {
    margin: 0;
  }
  .basket-icon {
    float: right;
  }
  .basket-item .text-block .delete-icon {
    right: 0;
  }
  .filter {
    margin: 20px 0;
  }
  .select select,
  .filter-form,
  .checkbox-flex {
    padding: 10px 0;
  }
  .filter-form input {
    width: 25%;
  }
  .title-border {
    margin: 10px auto;
    border: 2px solid #ebebeb;
    width: 50%;
    display: block;
  }
  .main-title h5 {
    margin: 30px 0;
  }
  .adv-item,
  .top-sale-item {
    display: block;
    height: auto;
    width: 46%;
    margin: 2%;
  }
  .adv-item a {
    display: block;
    height: 200px;
    margin-bottom: 0;
  }
  .top-sale-item img {
    height: 70px;
  }
  .top-sale-item .hit img {
    height: 35px;
    width: 40px;
  }
  .basket-button button img,
  .news-basket-button button img,
  .catalog-basket-button button img,
  .sale-basket-button button img {
    height: auto;
    width: 20px !important;
    margin-right: 4px;
  }
  .basket-button button,
  .news-basket-button button,
  .catalog-basket-button button,
  .sale-basket-button button {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px;
    height: 30px;
  }
  .button-wrap {
    justify-content: center;
  }
  .button-wrap .save-btn {
    width: 50%;
  }
  .all-catalog button {
    margin: 20px auto;
  }
  .top-sale-item .name p {
    font-size: 11px;
  }
  .top-sale-item .price p {
    font-size: 18px;
  }
  .new-item {
    padding: 10px;
    min-height: auto;
  }
  .new-item .image img,
  .catalog-item .image img {
    width: 100px;
  }
  .new-item .text-block .name p {
    font-size: 14px;
    height: 34px;
  }
  .adv-icon img {
    display: block;
    margin: 10px auto;
  }
  .adv-item .text-block {
    margin: 0;
  }
  .adv-item .text-block h6 {
    font-size: 14px;
  }
  .adv-item .text-block p {
    font-size: 10px;
  }
  .adv-item .text-block p,
  h6 {
    text-align: center;
  }
  .w-100 {
    /* width: 90% !important; */
    min-height: 160px;
    /* margin: 0 auto; */
  }
  .carousel-caption {
    left: 7%;
    right: 0;
  }
  .carousel-caption h5 {
    font-size: 48px;
  }
  /* .carousel-caption p,
  b,
  span {
    font-size: 14px !important;
  } */
  .carousel-indicators {
    bottom: -49px;
  }
  .carousel-indicators li {
    box-shadow: 2px 1px 12px #f2f2f2;
    background-color: #ffffff;
  }
  .basket-icon img {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
  }
  .basket-icon .count {
    top: -9px;
    right: -10px;
  }
  .user-icon img,
  .basket-icon img {
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
  }
  /*.search{*/
  /*    margin-bottom: 30px;*/
  /*}*/
  .desktop-version {
    display: none;
  }
  .mobile-version {
    display: block;
  }

  .header-sticky {
    background-color: #f8f8f8;
    z-index: 999;
  }
  .header-sticky-fix {
    display: none;
  }
  .fixed-search {
    display: block !important;
    position: sticky;
    padding: 10px 15px 15px;
    top: 0;
    background-color: #f8f8f8;
    z-index: 999;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  .fixed-search .search {
    width: 75%;
  }
  .fixed-search .search input {
    height: 40px;
  }
  .footer-text p {
    text-align: center;
    margin-bottom: 10px;
  }
  .main-content {
    padding: 20px 0;
  }
  .catalog-bonus-list li:before {
    margin-left: 0;
  }
  .catalog-item .text-block {
    margin-left: 10px;
  }
  .button-wrap button {
    padding: 5px 15px;
    margin: 0px;
    height: 40px;
    width: auto;
  }
  .owl-carousel .top-sale-item {
    width: 100%;
  }
  .bonus-text span {
    font-size: 64px !important;
  }
  .register-by {
    margin-bottom: 30px;
  }
  .register-by p {
    width: auto;
    border: none;
    margin: 0;
  }
  .register-by .left a img {
    display: block;
    float: right;
  }
  .register-by .right a img {
    display: block;
    float: left;
  }
  .register-bonus p span {
    font-size: 36px !important;
  }
  .button-wrap2 {
    display: block;
  }
  .button-wrap2 button {
    display: block;
    margin: 20px auto;
    width: 70%;
    height: 40px;
    font-size: 14px;
  }
  .basket-button a:hover {
    text-decoration: none;
  }
  .bg-white {
    padding: 50px 0;
  }
  .review-btn button {
    display: block;
    margin: auto;
    float: unset;
  }
  .total-cost p {
    margin-top: 20px;
  }
  .catalog-menu {
    display: none;
    position: absolute;
    left: 10px;
    top: 40px;
    z-index: 9999;
    box-shadow: 2px 1px 12px #f2f2f2;
    -webkit-transform: translate3d(0, 0, 0);
  }
  .second-level-menu {
    display: none;
    padding: 0 !important;
    position: absolute;
    left: 100%;
    background: #fff;
    top: 0;
    overflow-y: scroll;
    height: 320px;
  }
  .second-level-menu li {
    border: none !important;
    height: auto !important;
    padding: 10px 20px !important;
  }
  .second-level-menu li a {
    width: 100px;
  }
  .second-level-menu::-webkit-scrollbar {
    width: 2px;
  }
  .second-level-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .second-level-menu::-webkit-scrollbar-thumb {
    background: #86ca0f;
  }
  .second-level-menu::-webkit-scrollbar-thumb:hover {
    background: #86ca0f;
  }
  .catalog-menu ul li a,
  .second-level-menu li,
  .second-level-menu ul li a {
    height: auto !important;
  }
  .basket-item .image img {
    width: 90px;
    height: 70px;
  }
  .basket-item {
    padding: 10px 0 25px;
    margin-bottom: 10px;
    min-height: auto;
  }
  .drugstore-wrap {
    margin: 20px 0 0;
  }
  .review textarea {
    margin-top: 30px;
  }
  .gift-item:hover {
    transition: all 0.3s ease-out;
    transform: scale(1);
  }
}
@media (max-width: 576px) {
  .owl-main-mobile {
    max-height: 160px;
  }
  .owl-main-mobile .owl-stage-outer,
  .owl-stage {
    max-height: 160px;
  }
  .search-map .btn-map {
    padding: 10px 10px !important;
  }
  .price .gradient-text {
    display: block;
    margin-bottom: 0.5rem;
  }
  .catalog-item .text-block .name p {
    margin-bottom: 0 !important;
  }
  .mobile-version .row .col {
    display: flex;
    height: 5rem !important;
    align-items: center;
  }
  .mobile-version .row {
    align-items: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .carousel-inner {
    margin-top: 20%;
  }
  .w-100 {
    min-height: auto;
  }
}
@media (min-width: 768px) and (max-width: 994px) {
  .owl1 .owl-nav button.owl-prev {
    left: 0;
  }
  .owl1 .owl-nav button.owl-next {
    right: 0;
  }

  .row-list ul {
    width: 100%;
    border-right: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  .search input {
    background: #ffffff;
  }
  .tablet-version {
    display: block;
  }
  .tablet-version-hide {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .new-item .image img {
    height: 8rem;
  }
}

.swal-modal .swal-footer button {
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.swal-modal .swal-footer {
  display: flex;
  justify-content: center;
}
.swal-modal .swal-footer button:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, #b7d602 0%, #68c316 100%);
}
.swal-modal .swal-footer button:focus {
  outline: none;
  box-shadow: none;
}
.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: linear-gradient(to top, #b7d602 0%, #68c316 100%) !important;
}
.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: linear-gradient(to top, #b7d602 0%, #68c316 100%) !important;
}

/* order-content */
.order {
  background-color: #fff;
  padding: 4rem 0 2rem 0;
}
.order-content {
  padding: 2rem 2.5rem;
  background-color: #fff;
  box-shadow: 2px 1px 15px #ececec;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.order-content p {
  display: flex;
  justify-content: space-between;
  color: #979797;
}
.order-content span {
  color: #000;
}
.order-content .btn-order {
  width: fit-content;
  color: #ffffff;
  font: 14px "Century Gothic", sans-serif;
  background: linear-gradient(to bottom, #b7d602 0%, #68c316 100%);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  display: flex;
  margin: 2rem auto 0;
}
.order-content .btn-order:hover {
  text-decoration: none;
  background: linear-gradient(to bottom, #68c316 0%, #b7d602 100%);
}
.modal-map {
  z-index: 9999;
}
.modal-map .modal-dialog {
  max-width: 90%;
}
.modal-map .modal-dialog .modal-header,
.modal-footer {
  border: none;
}
.delivery-modal {
  display: flex;
  width: 50%;
  align-items: baseline;
  justify-content: center;
}
.delivery-modal .price {
  width: 50%;
}
.delivery-modal .delivery-cost {
  margin: 0 1rem;
}
.delivery-modal .close {
  position: absolute !important;
  right: 1rem !important;
}
.delivery-modal .close span {
  position: absolute;
  top: 0;
}
.modal-map .modal-dialog .modal-header .close {
  margin: 0;
}
.search-map {
  display: flex;
  justify-content: space-between;
}
.search-map form{
  width: 70%;
  position: relative;
}
.search-map .delete {
  position: absolute;
  top: 20%;
  right: 5%;
  color: red;
  cursor: pointer;
}
.search-map .delete:hover{
  color: #990000;
}
.search-map input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border: 1px solid silver;
}
.search-map .btn-map {
  background: linear-gradient(180deg, #b7d602 0%, #68c316 100%);
  font: 14px "Century Gothic", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: none;
}
.search-map .btn-map:hover {
  background: linear-gradient(180deg, #68c316 0%, #b7d602 100%);
}

.search-map .btn-map-disabled {
  font: 14px "Century Gothic", sans-serif;
  text-align: center;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
}

#ui-id-4 {
  z-index: 100000000;
}

#ui-id-1 {
  z-index: 100000000;
}

#ui-id-2 {
  z-index: 100000000;
}

#ui-id-3 {
  z-index: 100000000;
}
.loc-8 {
  display: NONE;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
